@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html{
    margin: 0px;
    height: 100%;  
  }
body {
  margin: 0px;
  height: 100%;
  width: 240px;
  height: 320px;
  transform: rotate(90deg) translateY(-100%);
  transform-origin:top left;    
}
.mock {
  margin: 0px;
  height: 100%;
  width: 240px;
  height: 320px;
  background-image: url(../img/bg.png);


}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}