:root {
  --grayscalewhite: rgba(255, 255, 255, 1);
  --ios-disclaimer-font-family: "SF Pro Text", Helvetica;
  --ios-disclaimer-font-weight: 400;
  --ios-disclaimer-font-size: 13px;
  --ios-disclaimer-letter-spacing: -0.07999999821186066px;
  --ios-disclaimer-line-height: 16px;
  --ios-disclaimer-font-style: normal;
  --ios-title-3-font-family: "SF Pro Display", Helvetica;
  --ios-title-3-font-weight: 700;
  --ios-title-3-font-size: 20px;
  --ios-title-3-letter-spacing: -0.25px;
  --ios-title-3-line-height: 24px;
  --ios-title-3-font-style: normal;
}
