.regulatory-US-canada {
  position: relative;
  width: 240px;
  height: 320px;
  background-color: #000000;
}

.regulatory-US-canada .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 16px;
  left: 16px;
}

.regulatory-US-canada .div {
  display: flex;
  flex-direction: column;
  width: 208px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.regulatory-US-canada .title-and-detail {
  display: flex;
  flex-direction: column;
  height: 16px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.regulatory-US-canada .text-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: -0.25px;
  line-height: normal;
}

.regulatory-US-canada .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
}

.regulatory-US-canada .p {
  position: relative;
  align-self: stretch;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 11px;
}

.regulatory-US-canada .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  flex: 0 0 auto;
}

.regulatory-US-canada .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 208px;
  height: 16px;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
}

.regulatory-US-canada .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
}

.regulatory-US-canada .if-your-device-wrapper {
  display: flex;
  width: 224px;
  align-items: center;
  gap: 6px;
  padding: 8px 4px;
  position: absolute;
  top: 247px;
  left: 8px;
  background-color: #1d1d1f;
  border-radius: 16px;
  border: 1px solid;
  border-color: #ffffff14;
}

.regulatory-US-canada .if-your-device {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--title-body-medium-14-semibold-font-family);
  font-weight: var(--title-body-medium-14-semibold-font-weight);
  color: var(--collection-1-white);
  font-size: var(--title-body-medium-14-semibold-font-size);
  text-align: center;
  letter-spacing: var(--title-body-medium-14-semibold-letter-spacing);
  line-height: var(--title-body-medium-14-semibold-line-height);
  font-style: var(--title-body-medium-14-semibold-font-style);
}

.regulatory-US-canada .page-control {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 1px;
  position: absolute;
  top: 290px;
  left: 79px;
}

.regulatory-US-canada .img {
  position: relative;
  width: 16px;
  height: 16px;
}
