:root {
  --m7-m1-font-family: "Roboto", Helvetica;
  --m7-m1-font-weight: 700;
  --m7-m1-font-size: 23px;
  --m7-m1-letter-spacing: 0.07000000029802322px;
  --m7-m1-line-height: 26px;
  --m7-m1-font-style: normal;
  --title-body-medium-14-semibold-font-family: "Roboto", Helvetica;
  --title-body-medium-14-semibold-font-weight: 600;
  --title-body-medium-14-semibold-font-size: 14px;
  --title-body-medium-14-semibold-letter-spacing: 0px;
  --title-body-medium-14-semibold-line-height: 20px;
  --title-body-medium-14-semibold-font-style: normal;
  --collection-1-white: rgba(252, 252, 253, 1);
}
